<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BHDbContext" connectionString="Data Source=.;Initial Catalog=TestDb1;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  <add name="LibiaoStoreContext" connectionString="Data Source=libiao.store;Port=3306;Database=libiaostore;User Id=tengbiao;Password=tengbiao;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>