
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Libiao小店</title><!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="libiao" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/WebSite/style.css" rel="stylesheet" />
    <link href="~/Content/WebSite/jquery.countdown.css" rel="stylesheet" />
</head>
<body>
    <section class="agile-main">
        <div class="agile-head">
            <h1>网站正在赶路中</h1>
            <p>我们正在努力的加油中，希望我们能早日相见。(●'◡'●)</p>
        </div>
        <!--timer-->
        <div class="timer_wrap">
            <div id="counter"> </div>
        </div>
        <!--//timer-->
        <!--wehcat code-->
        <div class="qrcode">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <div class="caption">
                    <div class="thumbnail">
                        <img src="~/Content/Images/wechat.jpg" alt="">
                        <div class="caption text-center">
                            <p>微信扫一扫加我微信</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="caption">
                    <div class="thumbnail">
                        <img src="~/Content/Images/wechat-public.jpg" alt="">
                        <div class="caption text-center">
                            <p>微信扫一扫关注公众号</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!--wechat code-->
        <div class="agile-copyright">
            <footer>&copy; 2017 Libiao.stroe</footer>
        </div>
    </section>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/Lib/jquery.countdown.js"></script>
    <script src="~/Scripts/WebSite/script.js"></script>
</body>
</html>